// Grid Settings
$jeet-gutter ?= 3
$jeet-parent-first ?= false
$jeet-layout-direction ?= LTR

jeet = {
  gutter: $jeet-gutter,
  parent-first: $jeet-parent-first,
  layout-direction: $jeet-layout-direction
}
g ?= $jeet-gutter